body {
  font-family: "Roboto", sans-serif;
  color: #1c1d20;
  max-width: 1440px;
  padding-left: 32px;
  padding-right: 32px;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
